body {
  font-family: 'Baloo 2', cursive;
  background: #fce4ec;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ad1457;
  margin-bottom: 30px;
}

.malla-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
}

.semestre {
  min-width: 220px;
  background: #f48fb1;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(60, 47, 47, 0.3);
}

.semestre h2 {
  text-align: center;
  color: #880e4f;
  margin-bottom: 15px;
  border-bottom: 2px solid #880e4f;
  padding-bottom: 5px;
}

.ramo {
  background: #fce4ec;
  color: #c2185b;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: all 0.3s ease;
}

.ramo:hover {
  background: #ec407a;
}

.ramo.bloqueado {
  background: #ad1457;
  color: #fff8fa;
  cursor: not-allowed;
}

.ramo.aprobado {
  background: #d81b60 !important;
  text-decoration: line-through;
  opacity: 0.8;
}
